<div class="mt-3">
  <h1>残念！</h1>
</div>

<div class="card">
  <div class="card-header">
    あなたの答え
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= raw(CodeRay.scan(params[:answer], :sql).div) %></p>
    </blockquote>
  </div>
</div>

<%= link_to "もう一度解答する", exercise_path(params[:id]), class: 'btn btn-secondary' %>
<%= link_to "一覧に戻る", exercises_path, class: 'btn btn-primary' %>
