<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>ORM100本ノックアプリ</h1>
    <h3>さっそく始めてみる</h3>
    <br>
    <%= link_to "Facebookサインイン", user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg' %>
  </div>
</header>