<div class="mt-3">
  <h1>正解です！</h1>
</div>

<%= link_to "もう一度解答する", @exercise, class: 'btn btn-secondary' %>

<% unless Exercise.count == @exercise.id %>
  <%= link_to "次の問題に解答する", exercise_path(@exercise.id + 1), class: 'btn btn-success' %>
<% end %>

<%= link_to "一覧に戻る", exercises_path, class: 'btn btn-primary' %>