<div class="mt-3">
  <h1>問題一覧</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>問題</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.id, exercise %></td>
        <td><%= link_to exercise.title.truncate(50), exercise %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @exercises %>